body {
   background:hsl(185, 75%, 39%);
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
}
.svg-container {
    position: absolute;
    top: 0;
    left: 0;
}
.back {
    position: absolute;
    z-index: -2;
}

.card {
    background-color: #fff;
    border-radius: 5%;
    width: 350px;
    height: 430px;
    margin: 20% auto;
}

.top {
    height: 140px;
}
.top1 {
    border-radius: 15px 15px 0 0 ;
}

.medium{
    text-align: center;
}

.bottom {
    text-align: center;
}

.nombre {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.edad {
    color: hsl(0, 0%, 59%);
    padding-left: 10px;
}

.ciudad {
    color: hsl(0, 0%, 59%);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.imagen {
    position: relative;
    top: -45px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 20px;
}
.estadisticas {
    padding: 0 20px;
  
}

.estad-num {
    font-size: 18px;
    font-weight: bold;
}

.estad-tipo {
    color:rgb(146, 144, 144);
    font-size: 12px;
}